body{
  background-image: url("../images/coffee.png"); 
}
.form{
  display:block;
  margin-top: 70px !important;
  margin-bottom:50px !important;
  margin:auto;
  border-radius:6px;
  border:3px solid #5e5553;
  height:1050px;
  max-width:500px;
  padding:17px;
  background-color:#f9f8f6;
}
.loginform{
  display:block;
  margin-top: 70px !important;
  margin-bottom:50px !important;
  margin:auto;
  border-radius:6px;
  border:3px solid #5e5553;
  height:750px;
  max-width:500px;
  padding:17px;
  background-color:#f9f8f6;
}
.QRform{
  display:block;
  margin-top: 70px !important;
  margin-bottom:50px !important;
  margin:auto;
  border-radius:6px;
  border:3px solid #5e5553;
  height:800px;
  max-width:500px;
  padding:17px;
  background-color:#f9f8f6;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  color:#763300;
  text-align:center;
  font-size: 75px;
  font-family: 'Fredericka the Great', cursive;
}
h2{
  color:#5e5553;
  text-align:left;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
}
h3{
  color:#5e5553;
  text-align:center;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}
#login{
  background-color: #763300;
  padding-right: 5rem;
  margin-right: 10px;
}
#new{
  background-color: #763300;
  padding-right: 5rem;
  margin-right: 10px;
}
#submit{
  background-color: #763300;
  padding-right: 5rem;
  margin-right: 10px;
}
text{
  color:#5e5553;
  text-align:left;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
}